header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 50%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: box-shadow 0.5s ease;
}

main div:first-of-type {
    word-break: break-word;
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logged-users {
    width: 30%;
    text-align: center;
}

@media(max-width: 674px) {
    main {
        flex-direction: column;
    }

    main div:first-of-type {
        word-break: break-word;
        width: 100%;
    }

    #logged-users,
    #messages-section p {
        width: 100%;
    }

    #messages-section h1 {
        text-align: center;
    }
}