body {
    font-family: 'Quicksand', sans-serif;
}

/* HEADER */

header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

/* MAIN PART */

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#logged-users {
    width: 30%;
}

#logout {
    display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 9px 14px;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 15px;
}

#chat-ctn {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-end;
}

#status {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: red;
    width: 15%;
    margin: 0 auto;
    margin-top: 20px;
}

/* ACCORDION */

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.col {
    flex: 1;
}

.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: black;
    overflow: hidden;
}

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: white;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
}

.tab-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}

.tab-content::before {
    content: '• ';
    color: green;
}

.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: white;
    cursor: pointer;
}

input:checked+.tab-label::after {
    transform: rotate(90deg);
}

input:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
}

/* CHAT */

#chat-ctn h1 {
    text-align: end;
}

.chat {
    width: 570px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

.message-data {
    margin-bottom: 15px;
}

.message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.message:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    margin-left: -10px;

}

.left {
    background: #5fc9f8;
}

.right {
    background: #53d769;
}

.left:after {
    left: 10%;
    border-bottom-color: #5fc9f8;
}

.right:after {
    right: 8%;
    border-bottom-color: #53d769;
}

.chat-message {
    padding: 30px;
}

.align-left {
    text-align: left;
}

.float-left {
    float: left;
}

.align-right {
    text-align: right;
}

.float-right {
    text-align: end;
}

li {
    list-style-type: none;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form textarea {
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: box-shadow 0.5s ease;
}

form button {
    align-self: flex-end;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    cursor: pointer;
    padding: 9px 14px;
    border: none;
    border-radius: 15px;
}

/* RESPONSIVE */

@media(max-width: 674px) {
    main {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form button {
        width: 100%;
    }

    #status {
        width: 60%;
        font-size: 14px;
    }

    .chat {
        width: 300px;
    }

    .left:after {
        left: 17%;
    }

    .right:after {
        right: 15%;
    }

    #logged-users,
    #messages-section p {
        width: 100%;
    }

    #logged-users {
        margin-top: 30px;
        width: 75%;
        display: flex;
        justify-content: center;
    }

    .row {
        width: 80%;
    }
}