/* GENERALS */

* {
    box-sizing: border-box;
}

p,
a,
h1,
h2 {
    color: white;
    text-decoration: none;
}

/* HEADER */

header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* MAIN PART */

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* LOGOUT */

#logged-users {
    width: 30%;
}

#logout {
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 9px 14px;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 15px;
}

#logout:focus,
#logout:active {
    outline-style: none;
}

#status {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: red;
    width: 15%;
    margin: 0 auto;
    margin-top: 20px;
}

/* FORM TO SEND A MESSAGE */

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

form textarea {
    width: 50%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    border-radius: 15px;
    transition: box-shadow 0.5s ease;
    resize: none;
}

/* SENDING BUTTON */

form button {
    font-family: 'Quicksand', sans-serif;
    align-self: flex-end;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    cursor: pointer;
    padding: 9px 14px;
    border: none;
    border-radius: 15px;
}

form button:focus,
form button:active {
    outline-style: none;
}

/* RESPONSIVE */

@media(max-width: 674px) {

    /* MAIN PART */

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* FORM TO SEND A MESSAGE */

    form {
        width: 100%;
    }

    form button {
        width: 100%;
    }

    form textarea {
        width: 100%;
    }

    /* LOGOUT */

    #status {
        width: 60%;
        font-size: 14px;
    }

    /* LOGGED USERS */

    #logged-users {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}